main.flex { 
    display: flex; 
    width: 100%;
    max-width: 100%;
    aside {
        width: 200px;
        background: #eee;
    }
    aside+div {
        flex-grow: 1;
        display: block;
    }   
}